<!-- <div class="container">
	<div class="row">
		<h2>{{vm.data.title}}</h2>
		<h5>{{vm.data.date | date}}</h5>
		<span ng-bind-html="vm.data.content"></span>
	</div>
</div> -->

<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('https://blackrockdigital.github.io/startbootstrap-clean-blog/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{vm.data.title}}</h1>
                        <h2 class="subheading">{{vm.data.summary}}</h2>
                        <span class="meta">{{vm.data.date | date}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container col-lg-12">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <span ng-bind-html="vm.data.content"></span>
                </div>
            </div>
        </div>
    </article>